@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
	background: linear-gradient(90deg,#12c2e9,#c471ed,#f64f59);
}
#mainContainer{
    /* width: 130px; */
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 20px;
    text-align: center;
}
.inp{
    width: 40px;
    height: 25px;
    text-align: center;
}
.DET{
    height: 160px;
    width: 2px;
    background-color: black;
    /* margin-bottom: 10px; */
}
#fullDeterminant{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#btn{
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: black;
	border-radius: 10px;
}
#resul{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    display: none;
    margin-top: 30px;
}
#resul i{
	color: black;
	transform: rotate(-90deg);
	margin-right: 10px;
}