@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* @import 'nprogress/nprogress.css'; */
body {
  font-family: "JetBrains Mono", monospace;
  cursor: default;
}

.keen-slider{
  font-family: "Inter", sans-serif;
}

@media (pointer: coarse) {
  .hide-on-touch {
    display: none !important;
  }
}
